img.logo {
  height: 25%;
  width: 25%;
}

img.check {
  height: 20px;
  width: 20px;
}

img.superswipe {
  position: absolute;
  bottom: 1px;
  right: 0px;
}

.column {
  float: left;
  width: 33.33%;
  background-color:  #FDDA64;
  height: 320px;
  position: relative;
  line-height: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-family: Montserrat;
}

p.heading {
  color: #383838;
  font-weight: 800;
  font-size: 225%;
  line-height: 120%;
  position: absolute;
	bottom: 40px;
  margin-left: 15px;
}

p.bio {
  color: #383838;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  bottom: 10px;
  margin-left: 15px;
}

p.favorite {
  font-size: 20px;
  line-height: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

p.top-match {
  margin-left: 15px;
  color: #e0a289;
}

p.message {
  font-size: 20px;
  margin-left: 15px;
  line-height: 25px;
  margin-right: 15px;
}

p.badge {
  border-radius: 20px;
  padding: 5px;
  margin-left: 15px;
  display: inline;
  background-color: #FDDA64;
}

p.question {
  font-weight: 800;
  margin-left: 15px;
  font-size: 25px;
}

p.answer {
  font-weight: 300;
  margin-left: 15px;
  font-size: 18px;
  line-height: 25px;
}

div.message {
  background-color: #F3EFA1;
  display: inline-block;
  width: 100%;
}

div.images {
  background-color: #FDDA64;
  display: block;
  font-size: 0;
  height: 300px;
}

div.questions {
  background-color: #F3EFA1;
  display: inline-block;
  width: 100%;
}

a {
  color: #FFC629;
  text-decoration: none;
  font-size: 50px;
}

a:hover {
  color: #FF6C37;
}

body {
  line-height: 11px;
  padding-top: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-thumb {
  background: #FDDA64;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFC629;
}

.header {
  background: #f5f5f5;
  z-index: 1000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
